html {}

body{
    display: inline-flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #8e44ad; */
    /* background-color: #303952; */
    /* background-color: #ecf0f1 */
}